<!DOCTYPE html>
<html lang="en">
<body>

<div id="resp-table">
    <div id="resp-table-header">
            <div class="table-header-cell">
            utorid
            </div>
            <div class="table-header-cell">
            a1
            </div>
            <div class="table-header-cell">
            a2
            </div>
            <div class="table-header-cell">
            a3
            </div>
            <div class="table-header-cell">
            midterm
            </div>
            <div class="table-header-cell">
            final
            </div>
    </div>

    <div id=“resp-table-body”>
        {% for item in results %}
        <div class="resp-table-row">
          <div class="table-body-cell">
            {{item['utorid']}}
          </div>
          <div class="table-body-cell">
            {{item['a1']}}
          </div>
          <div class="table-body-cell">
            {{item['a2']}}
          </div>
          <div class="table-body-cell">
            {{item['a3']}}
          </div>
          <div class="table-body-cell">
            {{item['midterm']}}
          </div>
          <div class="table-body-cell">
            {{item['final']}}
          </div>
        </div>
      {% endfor %}
    </div>

</div>

<a href = "/logout"><button type="submit">Log Out</button></a>

<!-- <div>
    <h1>Welcome : {{ results['utorid'] }}</h1>
    <table>
      <tr>
        <th>a1</th>
        <th>a2</th>
        <th>a3</th>
        <th>midterm</th>
        <th>final</th>
      </tr>
      <tr>
        <!-- the dictionary keys should be strings (otherwise Flask can't render them) -->

        <!-- <td>{{ results['a1'] }}</td>
        <td>{{ results['a2'] }}</td>
        <td>{{ results['a3'] }}</td>
        <td>{{ results['midterm'] }}</td>
        <td>{{ results['final'] }}</td>
      </tr>
    </table>
</div> 
-->

</body>
</html>