<!DOCTYPE html>
<html lang="en">
<body>
<div>

    <form action="/signup" method="post">
        <h1>
            UTOR
        </h1>
        <br>
        <input type="text" placeholder="utorid" name="utorid">
        <h1>
            Password
        </h1>
        <br>
        <input type="text" placeholder="password" name="password">
        <br>
        <button type="submit">Create Account</button>

    </form>

    <br>

    <a href = "login"><button type="submit">Login</button></a>
        
    </form>
    
</div>
</body>
</html>